# Ignore backup files
*~

# Ignore Libre/OpenOffice lock files (should really be in .gitgnore for user not project)
.~lock.*

# Ignore R files
.Rproj.user
*.Rproj
.Rhistory

# Ignore files that are made
flies.csv
families.csv
species.csv
locations.csv
keys.csv
todo.*.csv
mplots/*.svg
